.name {
    grid-area: name;
}

.brand {
    grid-area: brand;
}

.quantity {
    grid-area: quantity;
    text-align: right;
}

.value {
    grid-area: value;
    text-align: right;
}

.band {
    grid-area: band;
}

.container>a {
    grid-area: btn;
}

.container>button {
    grid-area: del-btn;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container>button>img {
    max-height: 90%;
}

.container {
    display: grid;
    gap: 2px;
    grid-template-areas: 'name brand quantity value band btn del-btn';
    grid-template-columns: 300px 200px 100px 100px 150px 50px 50px;

}

.container>p {
    background-color: var(--white);
    padding: 3px 5px;
    vertical-align: middle;
    margin: 0;
    display: flex;
    align-items: center;
}

.container>a {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0;
}